.adminLoginBox {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.side-bar {
  height: 150vh;
  text-align: center;
  border-right: 1px solid #dee2e6;
}

.side-bar .nav-link {
  display: block;
  padding: 8px 12px;
  color: #f8f9fa;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.side-bar .nav-link:hover {
  background-color: #dee2e6;
  color: black; /* Light text */
  text-decoration: none;
}
